{
  "project_info": {
    "project_number": "REPLACE_WITH_YOUR_PROJECT_NUMBER",
    "project_id": "REPLACE_WITH_YOUR_PROJECT_ID",
    "storage_bucket": "REPLACE_WITH_YOUR_PROJECT_ID.appspot.com",
    "firebase_url": "https://REPLACE_WITH_YOUR_PROJECT_ID-default-rtdb.firebaseio.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": { "package_name": "com.remotedesktop" }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_WITH_YOUR_ANDROID_API_KEY" }],
      "services": {
        "appinvite_service": { "other_platform_oauth_client": [] }
      }
    }
  ],
  "configuration_version": "1"
}
